{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-unused-vars": [ "warn", { "argsIgnorePattern": "next" } ]
  }
}
